---
layout: default
title: short
---

<div class="over">
  <ul>
  <div class="split left">
      {% for post in site.categories.short %}
        <li>
          {% assign date_print = post.date | date: "%d %b" %}
          {{ date_print | strip_newlines}}
        </li>
      {% endfor %}
  </div>

  <div class="split right">
        {% for post in site.categories.short %}
        <li>
          <a href="{{site.baseurl}}{{ post.url }}">
            {{ post.content | strip_html | truncate: 40 }}
          </a>
        </li>
        {% endfor %}
    </div>
    </ul>
</div>
