//global formatting

body {
  font-family: "Times New Roman", Verdana, sans-serif;
  letter-spacing: 0px;
  word-spacing: 2px;
  font-size: 18px;
}

//styles for the header include

.linkHeader {
  color: #000000;
  font-size: 28px;
  text-decoration: none;
}

.currentHeader {
  color: #000000;
  font-size: 28px;
  text-decoration: none;
  border: 1px solid;
  padding: 10px;
  box-shadow: -8px 10px #888888;
}

//styles for the post index pages

ul {
  list-style-type: none;
}

.split {
  margin: -5px;
}

.left {
  float: left;
  width: 25%;
  text-align: right;
}

.right {
  float: right;
  width: 75%;
  text-align: left;
}

//general alignment styles

div.over{
  margin: auto;
  max-width: 720px;
}

div.overpost{
  margin: auto;
  max-width: 360px;
}

.center {
  text-align: center;
}
