.linkHeader {
  color: #000000;
}

.currentHeader {
  color: #000000;
  border: 1px solid;
  padding: 10px;
  box-shadow: -8px 10px #888888;
}

ul {
  list-style-type: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
